<!-- <div class="ng-scope">
    <div class="container">
        <ul class="nav">
            <li>
                <a routerLink='/start'>home</a>
            </li>
            <li>
                <a routerLink='/transfer'>transfer</a>
            </li>
        </ul>
    </div>
</div> -->




<nav class="navbar navbar-expand-md navbar-light bg-info  ">
    <img   class="img-fluid rounded-circle shadow-sm"
    src="https://i.pinimg.com/originals/66/f7/72/66f77296282b5ab7c2780724802614c0.png" width="70"  height="20.53"/>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapse-nav-bar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse-nav-bar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link " routerLink="/start"><strong>Home</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="/transfer"><strong>Transfer</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="/buyer-signup"><strong>Register Buyer</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="/seller-signup"><strong>Register Seller</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " routerLink="/item-list"><strong>Explore</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/cart-list"><strong>Cart</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/bill-list"><strong>History</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/seller-items"><strong>My Items</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/seller-add-item"><strong>Add Item</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/log-out"><strong>Logout</strong></a>
            </li>
        </ul>
    </div>
</nav>
<!-- 
      <nav class="nav2 mb-4">
        <marquee><p style="font-family: 'Times New Roman', Times, serif; font-size: 18pt; font-weight: bolder; color: #000000;">Sale...! Sale...! Sale...! </p></marquee>  
      </nav> -->